body{
  /* background-image: url(../img/sogen.jpg); */
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}


/* ---------icon(作成したアイコン)はじまり------ */
nav{
  text-align: center;
}

.icon_txt{
  padding: 3%;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.can_back{
  background-image: url(../img/icon_back.png);
  background-size: cover;
}

.testicon{
  padding: 2%;
  margin: auto;
  text-align: center;
}

.modify{
  text-align: center;
}

/* ---------icon(作成したアイコン)おわり------ */


/* ----------------既存の画像（はじまり）--------------------- */
.icon{
  padding: 2%;
  margin: auto;
  text-align: center;
}

.icon img{
  width: 15%;
  height: auto;
}
.icon img:hover{
  opacity: 0.5;
}

.chat_icon{
  border-radius: 50%;
  width: 50%;
  height: auto;
}
/* ----------------既存の画像（おわり）--------------------- */


/* コメントと時間を横並びにする */
.box{
  display: flex;

}

#output{
  background-color: #8DB4E5;
  height: 80vh;
  overflow: scroll;
  /* box-sizing: border-box; */
  /* border-radius: 20%; */
}

.out{
  padding: 2% 5%  ;
  border: 2px solid gray;
}

/* #output:nth-child(odd) {
  width: 30%;
  background: #fff;
  margin-left: auto;

} */

#output {
  height: 550px;
  overflow: auto;
}

.massage_container{
  text-align: center;  
}

.massage_area{
  height: 10vh;
  display: flex;
  justify-content: center;
  
}

/*-------- どちらの発言かで表示分けている---- */
.container{
  display: flex;
}

.container:nth-child(even){
  flex-direction: row-reverse;
}

.container_inner{
  width: 30%;
  padding: 2%;
}

/*-------- 削除機能の見せ方--------- */
.delete_show{
  cursor: pointer;
  background: pink;
  padding: 5%;
  border-radius: 20%;
}

.delete_show:hover::after{
  content: '[delete]';
  font-size: 14px;
  color: #fff;
  margin-left: 4px;
}



.sender_name{
  margin-bottom: -5px;
  padding-left: 20px;
  color: rgba(0, 0, 0, .40);
}
.sender_name.me{
  float: right;
  padding: 0 20px 0 0;
}
/* ------------------------------------------ */

#text{
  width: 60%;
}

#send{
  width: 10%;
}


#send {
  width: 20%;
  height: auto;
  background: #61E739;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
 }

